@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


* {
  box-sizing: border-box;
}


html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.logo {
  width: 40%;
  max-width: 250px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.title {
  font-size: 2rem;
  font-family: 'Roboto Condensed';
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 1.2rem;
  font-weight: lighter;
}

.saldos1 h3,
.saldos2 h3 {
  margin-top: 0;
  height: 25%;
  background-color: rgba(75, 192, 192, 0.2);
  border-bottom: 1px solid rgba(75, 192, 192, 1);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "saldos1 saldos1 saldos2 saldos2"
    "chart1 chart1 chart2 chart2";
}

.header { 
  grid-area: header;
  /* display: flex;
  align-content: flex-end; */
 }
.saldos1 { 
  grid-area: saldos1; 
  text-align: center;
}
.saldos2 {
  grid-area: saldos2;
  text-align: center;
 }
.chart1 { grid-area: chart1; }
.chart2 { grid-area: chart2; }


@media only screen 
and (max-width : 970px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header  header  header  header"
      "saldos1 saldos1 saldos1 saldos1"
      "saldos2 saldos2 saldos2 saldos2"
      "chart1  chart1  chart1  chart1"
      "chart2  chart2  chart2  chart2"
      "footer  footer  footer  foooter";
  }
.chart,
.chart2 {
  width: 100%;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}
  
}

.chart1,
.chart2 {
  width: 90%;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.btn-click {
  background-color: #4E5BE0;
  color: #fff;
  border: none;
  border-radius: 2px solid;
  border: 2px outset #4E5BE0;
  padding: 10px;

}

.btn-click:hover {
  background-color: #4451DF;
  border: outset 3px #4451DF;
}
.btn-click:active {
  border: inset 3px #4E5BE0;
}

.saldos1 ul li,
.saldos2 ul li {
  font-size: 1.2rem;
}
.saldos1 ul,
.saldos2 ul {
  text-align: left;
}

.lista {
  counter-reset: li; 
  list-style: none; 
  *list-style: decimal; 
  font: 15px 'Poppins', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.lista ol {
  margin: 0 0 0 2em; 
}

.lista li{
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  *padding: .4em;
  margin: .5em 0;
  background: #ddd;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;   
}

.lista li:hover{
  background: #eee;
}

.lista li:hover:before{
  transform: rotate(360deg);  
}

.lista li:before{
  content: counter(li);
  counter-increment: li;
  position: absolute; 
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #fff;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}

.table {
  margin-left: auto;
  margin-right: auto;
}