@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


* {
  box-sizing: border-box;
}


html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.logo {
  width: 40%;
  max-width: 250px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.title {
  font-size: 2rem;
  font-family: 'Roboto Condensed';
  text-align: center;
}

.subtitle {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "saldos1 saldos1 saldos2 saldos2"
    "chart1 chart1 chart2 chart2";
}

.header { grid-area: header; }
.saldos1 { 
  grid-area: saldos1; 
  text-align: center;
}
.saldos2 {
  grid-area: saldos2;
  text-align: center;
 }
.chart1 { grid-area: chart1; }
.chart2 { grid-area: chart2; }


@media only screen 
and (max-width : 970px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header  header  header  header"
      "saldos1 saldos1 saldos1 saldos1"
      "saldos2 saldos2 saldos2 saldos2"
      "chart1  chart1  chart1  chart1"
      "chart2  chart2  chart2  chart2"
      "footer  footer  footer  foooter";
  }
.chart,
.chart2 {
  width: 100%;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  text-align: center;
}
  
}

.chart1,
.chart2 {
  width: 90%;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.btn-click {
  background-color: #4E5BE0;
  color: #fff;
  border: none;
  border-radius: 2px solid;
  border: 2px outset #4E5BE0;
  padding: 10px;

}

.btn-click:hover {
  background-color: #4451DF;
  border: outset 3px #4451DF;
}
.btn-click:active {
  border: inset 3px #4E5BE0;
}

.saldos1 ul li {
  font-size: 1.5rem;
}
.saldos1 ul,
.saldos2 ul {
  text-align: left;
}